<?xml version="1.0"?>
<config>
    <modules>
        <MagePal_FacebookRemarketingJs>
            <version>0.1.0</version>
        </MagePal_FacebookRemarketingJs>
    </modules>
    <global>
        <helpers>
            <facebookremarketingjs>
                <class>MagePal_FacebookRemarketingJs_Helper</class>
            </facebookremarketingjs>
        </helpers>
        <blocks>
            <facebookremarketingjs>
                <class>MagePal_FacebookRemarketingJs_Block</class>
            </facebookremarketingjs>
        </blocks>
        <models>
            <facebookremarketingjs>
                <class>MagePal_FacebookRemarketingJs_Model</class>
            </facebookremarketingjs>
        </models>
    </global>
    <frontend>
        <layout>
            <updates>
                <facebookremarketingjs>
                    <file>magepal_facebookremarketingjs.xml</file>
                </facebookremarketingjs>
            </updates>
        </layout>
        <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <facebookremarketingjs_order_success>
                        <class>facebookremarketingjs/observer</class>
                        <method>setFacebookRemarketingJsOnOrderSuccessPageView</method>
                    </facebookremarketingjs_order_success>
                </observers>
            </checkout_onepage_controller_success_action>
            <checkout_multishipping_controller_success_action>
                <observers>
                    <facebookremarketingjs_order_success>
                        <class>facebookremarketingjs/observer</class>
                        <method>setFacebookRemarketingJsOnOrderSuccessPageView</method>
                    </facebookremarketingjs_order_success>
                </observers>
            </checkout_multishipping_controller_success_action>
        </events>
    </frontend>
</config>
